{% extends 'WebHealth/base.html' %}
	
	{% block title %}
		Introduce
	{% endblock %}

	{% block content %}
		<div class="container pt-3">
			<h1>Giới thiệu về trang web Your Health</h1>
			<div class="mt-5">
				<h5>Lịch sử hình thành & phát triển</h5>
				<p>Website được tạo ra bởi 1 sinh viên trường DH CNTT&TT Thái Nguyên. Dự án khởi động vào tháng 12 năm 2022 với mục đích hoàn thành đồ án tốt nghiệp của sinh viên này.</p>
			</div>
			<div>
				<h5>Lĩnh vực, sản phẩm và dịch vụ</h5>
				<p>Hướng đến một website về Sức Khỏe vì thế chúng tôi đã phát triển website này với mục tiêu nhắm tới là vấn đề đang được quan tâm bậc nhất hiện nay chính là cân nặng.</p>
				<p>Đời sống càng được nâng cao những thực phẩm con người nạp vào hằng ngày cũng trở nên đa dạng hơn. Từ đó nhu cầu về việc biết được mình đã đưa những gì vào cơ thể, đưa bao nhiêu và như thế nào cũng phát sinh. Vì thế website ra đời phục vụ cho nhu cầu đó.</p>
			</div>
			<div>
				<h5>Chức năng</h5>
				<p>Website được tạo ra phục vụ cho việc tính toán calories trong thực phẩm chúng ta đưa vào cơ thể hằng ngày cũng như có thể đưa ra mức calo cần thiết mỗi ngày của cơ thể.</p>
				<p>Bạn cũng có thể đọc những bài báo có thông tin liên quan đến các vấn đề về sức khỏe tại đây.</p>
				<p>Để hoàn thiện hơn và đạt được hiệu quả cao hơn các chức năng mới sẽ được cập nhập trong tương lai.</p>
			</div>
			<div>
				<h5>Đóng góp ý kiến cho nhà phát triển</h5>
				<p>Nếu bạn có điều gì quan tâm hay thắc mắc về website hãy liên hệ với nhà phát triển của chúng tôi qua những cách sau:</p>
				<ul>
					<li><strong>Email:</strong> xxxxxxxx@gmail.com</li>
					<li><strong>SĐT:</strong> 03xxxxxxxx</li>
				</ul>
				<p class="fst-italic"><strong>Chúc bạn có một trải nghiệm thú vị khi sử dụng website của chúng tôi!</strong></p>
			</div>
		</div>
	{% endblock %}