		<div>
			<p class="fs-2 fw-semibold">
				Calo là gì và các yếu tố ảnh hưởng đến lượng calo cần thiết trong 1 ngày
			</p>
			<p class="fs-5">
				Calo là đơn vị dùng để tính năng lượng có trong thức ăn hoặc đồ uống. Hiểu đơn giản hơn, mỗi khi thức ăn, đồ uống được nạp vào cơ thể sẽ chuyển hóa thành năng lượng (đơn vị tính là calo) để duy trì sự sống cũng như thực hiện các hoạt động hàng ngày. Hàm lượng calo cần thiết này không giống nhau giữa mỗi người mà còn phụ thuộc vào nhiều yếu tố như:
				<ul>
					<li>
						Độ tuổi: trẻ em đang lớn có thể cần nhiều năng lượng hơn giúp phát triển chiều cao, cân nặng
					</li>
					<li>
						Giới tính: nhu cầu năng lượng cơ bản của nam giới cao hơn phụ nữ, bên cạnh đó, họ cũng thường phải làm việc nặng nhiều hơn
					</li>
					<li>
						Chiều cao và cân nặng: Kích thước cơ thể lớn hoặc nhiều cơ sẽ đốt cháy nhiều năng lượng hơn
					</li>
					<li>
						Lối sống: cường độ vận động trong một ngày càng lớn càng cần nạp nhiều calo.
					</li>
					<li>
						Phụ nữ mang thai và đang cho con bú có thể cần nhiều calo hơn bình thường
					</li>
					<li>
						Một vài yếu tố khác như nội tiết tố, sử dụng thuốc, thể trạng sức khỏe nói chung, tỷ lệ mỡ trên cơ thể.
					</li>
				</ul>
			</p>
			<p class="fs-5">
				Khi bạn hoạt động càng nhiều thì hàm lượng calo bị đốt sẽ càng cao.
			</p>

			<center>
				<img src="/blog_pictures/ảnh_calo.jpg" alt="">
			</center>

			<p class="fs-2 fw-semibold">
				Cách tính lượng calo cần thiết trong 1 ngày
			</p>
			<p>
				bạn có thể tính toán được lượng calo cần thiết chính xác hơn cho bản thân mình bằng công thức Harris-Benedict. Trong đó gồm chỉ số BMR và chỉ số AMR. Hai công thức này đưa ra lượng calo bạn cần nạp đủ trong một ngày nếu muốn giữ cân.
			</p>
			<p class="fs-2 fw-semibold">
				Công thức tính chỉ số BMR
			</p>
			<p>
				BMR tính calo cần cho hoạt động sống cơ bản (hít thở, tuần hoàn máu, trao đổi chất…).<br>
				Chỉ số BMR sẽ phụ thuộc vào các yếu tố như giới tính, độ tuổi, cân nặng, và chiều cao. Cụ thể hơn, nó được tính toán theo công thức như sau:<br>
				<ul>
					<li>
						<strong>Tính chỉ số BMR đối với nữ giới:</strong> BMR = 655.1 + (9.563 x cân nặng) + (1.850 x chiều cao) – (4.676 x tuổi)
					</li>
					<li>
						<strong>Tính chỉ số BMR đối với nam giới:</strong> BMR = 66.47 + (13.75 x cân nặng) + (5.003 x chiều cao) – (6.755 x tuổi)
					</li>
				</ul>
				<p class="fst-italic">
					*Lưu ý: đơn vị đo lường của cân nặng, chiều cao, tuổi lần lượt là kilogram (kg), centimet (cm) và số năm tuổi.
				</p>
			</p>
			<p class="fs-2 fw-semibold">
				Công thức tính chỉ số AMR
			</p>
			<p>
				Khi bạn thức dậy và bắt đầu vận động thì phải tiêu hao nhiều năng lượng hơn. Lúc đó, bạn cần điều chỉnh lại lượng calo nạp vào cơ thể để đủ cung cấp cho hoạt động thường ngày bằng cách tính chỉ số ARM dựa trên BMR.<br>
				<center>
					<img src="/blog_pictures/ARM.jpg" alt="">
				</center>
				<br>Nếu muốn tăng cân, bạn phải nạp calo nhiều hơn; còn nếu muốn giảm cân thì nên cắt bớt calo thấp hơn so với chỉ số ARM.
			</p>
		</div>