		<div>
			<p class="fs-2 fw-semibold">
				Calories là gì? Vì sao cơ thể luôn cần calories?
			</p>
			<p>
			Calories là đơn vị được sử dụng để đo mức năng lượng trong thức ăn. Dựa vào quy ước này, ta có thể xác định được:<br>
			<ul>
				<li>Mức năng lượng nạp vào cơ thể mỗi ngày</li>
				<li>1 món ăn có chứa bao nhiêu đơn vị năng lượng</li>
				<li>Mức năng lượng cần điều chỉnh để tăng hoặc giảm cân</li>
			</ul>
			</p>
			<p>
				Cơ thể cần năng lượng để duy trì sự sống và điều chỉnh hoạt động của các cơ quan, bộ phận. Mỗi khi ăn uống một thứ gì đó là đã có calo được nạp vào. Cơ thể sử dụng nguồn năng lượng đó để phuc vụ nhu cầu vận động hàng ngày. Bao gồm những hoạt động cơ bản nhất như trao đổi chất, tim đập cho đến các hoạt động thể chất như đi bộ, chạy nhảy,…. Để duy trì cân nặng ổn định, calo nạp vào phải cân bằng với calo tiêu hao qua các hoạt động. Đây cũng là mục tiêu của rất nhiều chế độ ăn uống và sinh hoạt lành mạnh. Ví dụ, chúng ta càng thực hiện nhiều hoạt động thể chất thì càng tốn nhiều calo và ngược lại.
			</p>
			<center>
				<img src="/blog_pictures/thuc_pham1.jpg" alt="" width="700" height="400">
			</center>
			<br>
			<center>
				<p class="fst-italic">
					Calories trong thực phẩm
				</p>
			</center>
		</div>
		<div>
			<p class="fs-2 fw-semibold">
				Phương pháp nạp calories khoa học
			</p>
			<p>
				Ngày nào chúng ta cũng nạp calories. Tuy nhiên để từng calories đều có ích cho sức khỏe thì phải biết cách ăn thật khoa học. Muốn làm được điều này, có 2 việc bạn phải đặc biệt chú ý. Đó là xác định mức calo cần mỗi ngày và tránh xa nhưng loại calo gây hại cho sức khỏe (còn gọi là calo rỗng).
			</p>
			<center>
				<img src="/blog_pictures/calo_rong.jpg" alt="" width="700" height="400">
			</center>
			<br>
			<center>
				<p class="fst-italic">
					Calo rỗng
				</p>
			</center>
		</div>
		<div>
			<p class="fs-2 fw-semibold">
				Tính toán lượng calo cần mỗi ngày
			</p>
			<p>
				Mức năng lượng trong một món đồ ăn hoặc thức uống được đo bằng calo. Khi chúng ta ăn và uống nhiều calo hơn mức chúng ta sử dụng, cơ thể chúng ta sẽ lưu trữ lượng dư thừa dưới dạng mỡ trong cơ thể. Nếu điều này tiếp diễn trong khoảng thời gian đủ dài, chúng ta có thể tăng cân.
			</p>
			<p>
				Theo những tài liệu về dinh dưỡng, một người đàn ông trung bình cần khoảng 2.500 kcalmỗi ngày để duy trì trọng lượng cơ thể khỏe mạnh. Đối với một phụ nữ trưởng thành, con số đó là khoảng 2.000kcal.
			</p>
			<p>
				Ý nghĩa của việc tính toán calo mỗi ngày là để cơ thể khỏe mạnh và luôn có đủ mức năng lượng cần thiết để duy trì hoạt động. Đây cũng là bước quan trọng nếu bạn muốn giảm cân hoặc tăng cân. Sự thay đổi cân nặng phụ thuộc nhiều vào cách tính toán calo mỗi ngày. Không chỉ calo quan trọng mà dinh dưỡng mang lại lượng calo đó cũng quan trọng không kém. Dưới đây là mức calo của ba loại dinh dưỡng chính trong thực phẩm:
			</p>
			<ul>
				<li>1 gram carbohydrate chứa 4 kcal</li>
				<li>1 gram protein chứa 4 kcal </li>
				<li>1 gram chất béo chứa 9 kcal</li>
			</ul>
		</div>
		<div>
			<p class="fs-2 fw-semibold">
				Calories và tăng – giảm cân
			</p>
			<p class="fs-3 fw-semibold">
				Calories tăng cân
			</p>
			<p>
				Điều quan trọng để khiến bạn tăng cân là tạo ra calo thừa để tích trữ. Nghĩa là bạn ăn nhiều năng lượng hơn mức cơ thể cần để duy trì sự sống. Nếu bạn muốn tăng cân từ từ và đều đặn, hãy ăn nhiều hơn 300 – 500 calo so với lượng vừa đủ. Nếu bạn muốn tăng cân nhanh, hãy đặt mục tiêu cao hơn nữa với khoảng 700–1.000 calo trên mức cần thiết. Dưới đây là 10 mẹo nhỏ giúp bạn cải thiện mức năng lượng nạp vào hàng ngày hiệu quả hơn:
			</p>
			<ul>
				<li>Không uống nước trước bữa ăn. Điều này có thể làm bạn no bụng và khó nạp thừa calo.</li>
				<li>Ăn các bữa ăn phụ hoặc bữa ăn nhẹ bất cứ khi nào bạn có thể, chẳng hạn như trước khi đi ngủ.</li>
				<li>Uống sữa nguyên kem để làm dịu cơn khát là một cách đơn giản để nạp thêm protein và calo chất lượng cao.</li>
				<li>Thêm sữa tăng cân vào bữa phụ hàng ngày. Đây là loại thực phẩm rất giàu protein, carbs và cao năng lượng giúp cải thiện cân nặng nhanh chóng.</li>
				<li>Sử dụng đĩa lớn hơn khi ăn.</li>
				<li>Thêm kem vào cà phê của bạn. Đây là một cách đơn giản để bổ sung thêm calo.</li>
				<li>Ngủ ngon và ngủ đủ. Chất lượng giấc ngủ cũng ảnh hưởng đến sự tăng trưởng cơ bắp ở người gầy.</li>
				<li>Bỏ thuốc lá</li>
			</ul>
			<p class="fs-3 fw-semibold">
				Calories giảm cân
			</p>
			<p>
				Khi cố gắng giảm cân, nguyên tắc chung là giảm lượng calo nạp vào cơ thể ít hơn 500 calo so với mức cơ thể cần để duy trì cân nặng hiện tại. Điều này sẽ giúp bạn giảm khoảng 0,45 kg trọng lượng cơ thể mỗi tuần. Cắt giảm lượng calo mà không cân nhắc đến dinh dưỡng không phải là cách giảm cân bền vững. Bạn nên thực hiện thói quen ăn uống khoa học, cân bằng dưỡng chất để nếu có giảm cân thì cân nặng này sẽ bền vững, không dễ tăng cân lại. Dưới đây là những cách điều chỉnh calo hợp lý cho người muốn giảm cân.
			</p>
			<p>
				<strong>Ăn nhiều protein hơn:</strong> Protein là vua của những dinh dưỡng giảm cân. Thêm protein vào chế độ ăn uống của bạn là một cách đơn giản, hiệu quả để giảm mỡ thừa và tăng cơ bắp. Các nghiên cứu cho thấy rằng protein vừa làm tăng tỷ lệ trao đổi chất, vừa giúp hạn chế sự thèm ăn. Vì protein cần năng lượng để chuyển hóa nên chế độ ăn giàu protein có thể làm tăng mức calo bạn đốt cháy lên 80–100 calo mỗi ngày.
			</p>
			<p>
				<strong>Loại bỏ nước ngọt có đường và nước hoa quả đóng hộp:</strong> Cần loại bỏ calo từ đường lỏng khỏi chế độ ăn uống nếu bạn muốn giảm cân. Chúng bao gồm nước ngọt có ga, nước trái cây đóng hộp và các loại đồ uống khác có thêm đường. Những thức uống này chứa rất nhiều calo nhưng đều là calo rỗng.
			</p>
			<p>
				<strong>Uống nhiều nước hơn:</strong> Một mẹo rất đơn giản để tăng hiệu quả giảm cân là uống nhiều nước hơn. Uống nước có thể làm tăng mức calo cơ thể đốt cháy 90 phút. Lý do là vì nước hỗ trợ trao đổi chất để tiêu hao calo. Uống khoảng 2 lít nước mỗi ngày có thể khiến bạn đốt cháy thêm 96 calo.
			</p>
			<p>
				<strong>Tập thể dục nhiều hơn:</strong> Đây là cách đốt cháy calo cực kì hiệu quả. Không những thế, vận động sẽ giúp bạn khỏe khoắn hơn, tạo nền tảng thể lực để đáp ứng chế độ ăn cắt giảm calo khắt khe.
			</p>
			<p>
				Có <strong>công cụ tính tính calories trong thức ăn</strong> sẽ giúp bạn kiểm soát mức năng lượng cơ thể cần. Qua đó điều chỉnh cân nặng dễ dàng hơn. Hãy tập thói quen cân đối calo trong mỗi bữa ăn từ bây giờ để giữ cơ thể khỏe mạnh, cân đối và bắt đầu một lối sống khoa học bạn nhé! 
			</p>
		</div>